<template>
    <div>
        <Navbar />
        <!-- To put in another component later -->
        <div class="container Home">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="row no-gutters">
                        <div class="col-md-12 my-4">
                            <span class="font-weight-bold">{{ pendingTodos }} pending task{{ pendingTodos > 0 ? 's' : ''}}
                            </span>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div v-for="todo in sortedTodos" v-bind:key="todo.data.id" class="col-md-12 bg-white py-3 px-4 mb-3 rounded shadow-sm">
                            <div v-if="!todo.data.completed" class="todo-task">
                                <span>{{todo.data.task}}</span>
                                <span class="float-right">
                                    <font-awesome-icon icon="check-circle" v-on:click="completeTask(todo.data)"/>
                                </span>
                            </div>
                            <div v-if="todo.data.completed" class="todo-task excluded text-muted">
                                <del>{{todo.data.task}}</del>
                                <span class="float-right">
                                    <font-awesome-icon icon="times" v-on:click="removeTask(todo.data)"/>
                                </span>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer component -->
        <Footer />
    </div>
</template>

<script>
import Navbar from '../Navbar/Navbar';
import firebase from '../../config/firebase';
import TodosService from '../../services/todos';
import Footer from '../Footer';

import { library } from '@fortawesome/fontawesome-svg-core';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faCheckCircle, faTimes } from '@fortawesome/free-solid-svg-icons';

library.add(faCheckCircle, faTimes);

const authUser = JSON.parse(localStorage.getItem('auth'));

export default {
    name: 'Home',
    components: {
        Navbar,
        FontAwesomeIcon,
        Footer
    },
    mounted(){
        this.fetchTodos();
    },
    computed: {
        sortedTodos () {
            const todos = this.todos;
            return todos.sort((a,b) => a.data.completed - b.data.completed)
        },
        pendingTodos () {
            const todos = this.todos;
            return todos.filter(todo => !todo.data.completed).length;
        }
    }, 
    data(){
        return { 
            todos: [],
        }
    },
    props: {
        auth: Object
    },
    methods: {
        fetchTodos() {

            firebase.firestore().collection('todos').where('data.author', '==' ,authUser.uid).onSnapshot(snapshot => {
                snapshot.docChanges().forEach(change => {

                    const data = change.doc.data();
                    const target = data.data.tId;

                    if(change.type === 'added') 
                        this.todos = [...this.todos, data];

                    if(change.type === 'modified') {
                        this.todos = this.todos.map( todo => {
                            if(todo.data.tId === target)
                                todo.data.completed = true;
                            return todo;
                        });
                    }

                    if(change.type === 'removed') 
                        this.todos = this.todos.filter(todo => todo.data.tId !== target);
                    
                });
            });
        },

        completeTask({ tId }) {
            TodosService.updateTodo(tId);
        },

        removeTask({ tId }) {
            TodosService.removeTodo(tId);
        }

        
    }
}
</script>