<template>
  <header>
    <nav class="navbar navbar-expand navbar-light bg-white fixed-top py-2 shadow-sm" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img alt="Odot" src="../../assets/logo.png" class="logo" />
            </a>
            
            <div class="justify-content-md-end" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <div class="dropdown-toggle no-caret" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img v-bind:src="authUser.photoURL" class="rounded-circle mr-2" height="40"/>
                            <span class="user-name font-weight-bold">{{ displayName }}</span>
                        </div>
                        <div class="dropdown-menu mt-3" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-muted" href="#">Settings</a>
                            <a class="dropdown-item" href="#" v-on:click="logOut" >Logout</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return { authUser: JSON.parse(localStorage.getItem('auth')) || {} }
  },
  computed: {
    displayName() {
      const displayName = this.authUser.displayName;
      return displayName ? displayName.split(' ')[1] : '';
    }
  },
  methods:  {
      logOut() {
        localStorage.removeItem('auth');
        this.$router.history.push('/login');
      }
  }

}
</script>

