<template>
    <footer>
        <nav class="navbar navbar-light bg-white fixed-bottom shadow-sm pt-2 w-100" id="mainNav">
            <div class="container">
                <form v-on:submit="addTask" action="POST" class="d-flex mx-md-auto mx-lg-auto mx-xl-auto">
                    <div class="form-group mb-0 mr-2">
                        <input class="form-control rounded-pill" placeholder="Write a new task"/>
                    </div>
                    <button class="btn btn-todo btn-sm rounded-pill text-white" type="submit">Add task</button>
                </form>
            </div>
        </nav>
    </footer>
</template>
<script>
import _Todos from '../services/todos';


export default {

    methods: {
        addTask(e){
            e.preventDefault();
            const target = e.target.elements[0];
            const authUser = JSON.parse(localStorage.getItem('auth'));

            if(!target.value){
                alert(`Can't post an empty task!`);
                return;
            }
                
            const task = {
                author: authUser.uid,
                task: e.target.elements[0].value,
                created_at: new Date(),
                completed: false,
            };
            target.value = '';
            _Todos.addTodo(task);
        }
    }
}
</script>
