<template>
  <div class="App">
      <img src="../../assets/icon.png" />
      <div class="mt-4">
        <p class="font-weight-bold">Welcome to the Odot</p>
      </div>
      <button class="RButton btn btn-outline-light px-4 bg-transparent rounded-pill mt-3 text-white" v-on:click="loginWithFirebase">Login with Gmail</button>
    </div>
</template>

<script>

import firebase from '../../config/firebase';


export default {
  name: 'Login',

  created() {
  },
  
  methods: {
    loginWithFirebase(){
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider).then(result => {
        const { user } = result;
        if(user){
          localStorage.setItem('auth', JSON.stringify(user));
          this.$router.history.push('/');
        } 
      })
      .catch( error => console.log(error));
    }
  }
}
</script>

