<template>
  <div id="app">
    <router-view class="view"></router-view>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap/dist/js/bootstrap.js';

export default {
  name: 'App',
}
</script>

<style>

:root{
  --todo-blue : #22A5AA;
  --todo-gray : #f0f4f4;
  --todo-light : #FFFFFF;
}
body{
  background-color: var(--todo-gray);
}
.App {
  text-align: center;
  background-color: var(--todo-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.RButton{
  border-color: var(--todo-light);
  padding: 14px 7px;
  font-size: 13px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header .navbar {
  font-size: 13px;
}
.navbar .dropdown-toggle{
  cursor: pointer;
}
.navbar a{
  font-size: 13px !important;
}
.user-avatar{
  content: "";
  padding:10px 19px;
}
.Home{
  font-size: 14px;
  margin-top: 60px;
}
.Home .todo-task{
  font-size: 13px;
}
.Home .todo-task{
  font-size: 15px;
}
.todo-task svg{
  font-size: 17px;
  cursor: pointer;
}
.Home .todo-task:not(.excluded) svg{
  color: var(--todo-blue);
}
footer {
  margin-bottom: 60px;
}
footer input, footer button{
  font-size: 14px !important;
}
footer input{
  width: 350px !important;
}
footer .btn-todo {
  background-color: var(--todo-blue);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Responsive */
@media (max-width: 500px) {

  nav .user-name {
    display: none;
  }
  footer form{
    width: 100%;
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  footer input{
    width: 100% !important;
    margin-bottom: 4px;
  }
  footer button{
    width: 100px;
    margin-right: 10px;
    align-self: flex-end;
  }


}
</style>
